h1{

    font-family: san-serif;
    font-size: medium;
    font-style: normal;
    font-weight: bold;
    color: brown;
    text-align:center;
    text-decoration: underline;

}
input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password], input[type=tel]
{
    width: 40%; 
    padding: 12px;
    border: 1px solid #4d4dff;
    border-radius: 2%;
}

input[type=radio],input[type=checkbox]{
    width: 1%;
    padding-left: 0%;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px; 
}
textarea{
    width:40%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}
label{
    padding: 12px 12px 12px 0;
display: inline-block;
}
input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

